
<div class="page-header">
    <h1 class="h1-strong text-muted">{{title}}<h3 class="text-muted">Es gratis y lo será siempre.</h3></h1>
</div>

<div class="col-sm-6 col-sm-offset-3">

    <div class="alert alert-success" *ngIf="status == 'success'" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Registro Completado Correctamente <a [routerLink]="['/login']">Presiona aquí para iniciar sesión</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        El registro no ha podido completarse, quizas tu email o nickname ya esté en uso,
        intentalo nuevamente.
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Panel de registro para usuarios.
        </div>
        <div class="panel-body">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-12">
                <p>
                    <label>Nombre</label>
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name"
                    class="form-control" pattern="[A-Za-z0-9.-]{2,32}" required/>
                    <span *ngIf="!name.valid && name.touched">
                        <div class="alert alert-danger" role="alert">
                            <strong>Atención!</strong> El nombre es obligatorio.
                        </div>
                    </span>
                </p>

                <p>
                    <label>Apellidos</label>
                    <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname"
                    class="form-control" pattern="[A-Za-z0-9.-]{2,32}" required/>
                    <span *ngIf="!surname.valid && surname.touched">
                        <div class="alert alert-danger" role="alert">
                            <strong>Atención!</strong> Los apellidos son obligatorios.
                        </div>
                    </span>
                </p>

                <p>
                    <label>Nick</label>
                    <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick"
                    class="form-control" pattern="[A-Za-z0-9.-]{2,32}" required/>
                    <span *ngIf="!nick.valid && nick.touched">
                        <div class="alert alert-danger" role="alert">
                            <strong>Atención!</strong> El nick es obligatorio.
                        </div>
                    </span>
                </p>
                
                <p>
                    <label>Correo electrónico</label>
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
                    class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                    <span *ngIf="!email.valid && email.touched">
                        <div class="alert alert-danger" role="alert">
                            <strong>Atención!</strong> El Correo electrónico es obligatorio.
                        </div>
                    </span>
                </p>

                <p>
                    <label>Contraseña</label>
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                    class="form-control" pattern="[A-Za-z0-9!._?]{4,32}" required/>
                    <span *ngIf="!password.valid && password.touched">
                        <div class="alert alert-danger" role="alert">
                            <strong>Atención!</strong> La Contraseña es obligatoria.
                        </div>
                    </span>
                </p>

                <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" (click)="topFunction()"/>
            </form>
        </div>
    </div>
</div>